.neo-badge-button.neo-button {
    .neo-button-badge {
        background-color: red;
        border-radius   : 5px;
        color           : white;
        margin-left     : auto;
        padding         : 3px;
        position        : absolute;
        right           : -10px;
        top             : -10px;
    }
}
